
#ok{
	background-color: rgb(209, 211, 115);
}
#loancal {

   width: 350px;
   height: 350px;
   text-shadow: 50em;

   background-color:rgb(196, 147, 147);
   color:rgb(0, 0, 0);
   margin-left:300px;
   
   margin-top:100px;
   padding-left:100px;
   padding-top:20px;

}
#months {

	/*margin-left:5px;*/
	width:185px;
	height:20px;
}
#amount {

	width:175px;
	height:20px;
}
#interest_rate {
	margin-left:2px;
	width:175px;
	height:20px;
}
h1{

	font-size:45px;

	/*margin-top:0px;*/
}